{
	"env": {
		"browser": true,
		"es6": true,
		"node": true
	},
	"parserOptions": {
		"requireConfigFile": false,
		"babelOptions": {
			"presets": [
				"@babel/preset-react"
			]
		}
	},
	"plugins": [
		"prettier"
	],
	"parser": "@babel/eslint-parser",
	"extends": [
		"plugin:react/recommended",
		"eslint:recommended",
		"prettier"
	],
	"rules": {
		"react/prop-types": "off",
		"react/no-unescaped-entities": 0,
		"react/react-in-jsx-scope": "off",
		"prettier/prettier": "error"
	},
	"settings": {
		"react": {
			"version": "detect"
		}
	}
}