.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "Lato";
  src: url(./assets/font/Lato-Regular.ttf);
}

@font-face {
  font-family: "Lato";
  src: url(./assets/font/Lato-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Lato";
  src: url(./assets/font/Lato-Italic.ttf);
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url(./assets/font/Lato-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url(./assets/font/Lato-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: "Lato";
  src: url(./assets/font/Lato-LightItalic.ttf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url(./assets/font/Lato-Thin.ttf);
  font-weight: 100;
}

@font-face {
  font-family: "Lato";
  src: url(./assets/font/Lato-ThinItalic.ttf);
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url(./assets/font/Lato-Black.ttf);
  font-weight: 900;
}

@font-face {
  font-family: "Lato";
  src: url(./assets/font/Lato-BlackItalic.ttf);
  font-weight: 900;
  font-style: italic;
}
