@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  .navbar-shadow {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  }
  
  .stepper-shape {
    clip-path: polygon(85% 0, 100% 50%, 85% 100%, 0% 100%, 15% 50%, 0% 0%);
  }

  .first-stepper-shape {
    clip-path: polygon(85% 0, 100% 50%, 85% 100%, 0% 100%, 0% 0%, 0% 0%);
  }
}

@layer base {
  h1 {
    @apply text-h1;
  }

  h2 {
    @apply text-h2;
  }

  h3 {
    @apply text-h3;
  }

  h4 {
    @apply text-h4;
  }

  h5 {
    @apply text-h5;
  }

  p {
    @apply text-p;
  }
}

html {
  @apply text-black;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
