@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .navbar-shadow {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  }

  .stepper-shape {
    clip-path: polygon(85% 0, 100% 50%, 85% 100%, 0% 100%, 15% 50%, 0% 0%);
  }

  .first-stepper-shape {
    clip-path: polygon(85% 0, 100% 50%, 85% 100%, 0% 100%, 0% 0%, 0% 0%);
  }

  .home-page-gradient {
    z-index: -1;
    width: 100%;
    overflow: hidden;
    height: 100%;
    position: absolute;
    opacity: 0.1;
    background: radial-gradient(
      50% 50% at 50% 50%,
      #4088c3 36%,
      rgba(255, 255, 255, 0) 100%
    );
    filter: blur(2px);
  }
}

@layer base {
  h1 {
    @apply text-h1;
  }

  h2 {
    @apply text-h2;
  }

  h3 {
    @apply text-h3;
  }

  h4 {
    @apply text-h4;
  }

  h5 {
    @apply text-h5;
  }

  p {
    @apply text-p;
  }
}

html {
  @apply text-black;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
