@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-black text-h1 
  }

  h2 {
    @apply text-h2
  }

  h3 {
    @apply text-h3
  }

  h4 {
    @apply text-h4
  }

  h5 {
    @apply text-h5
  }

  p {
    @apply text-p
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
