ul {
  display: flex;
  list-style-type: none;
  padding: 1px;
  padding-left: 39em;
  padding-top: 0.4em;
}

li {
  margin-right: 4rem;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

a {
  color: Orgb (25, 43, 121);
  text-decoration: none;
}

img {
  padding-left: 1px;
  padding: 2px;
  width: 45px;
  height: 40px;
}
