hr {
  border: none;
  background-color: black;
  height: 0.75px;
  margin-bottom: 10px;
  width: 90%;
}

h1 {
  font-size: 28px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

p {
  font-size: 26px;
  margin-bottom: 10px;
}

.profilePage {
  background-color: white;
  font-size: 18px;
}

.profileSection {
  margin-top: 25px;
  display: flex;
}

.userSection,
.bookingSection {
  position: absolute;
  padding: 25px;
  text-align: left;
  height: calc(90vh - 25px);
}

.userSection {
  background-color: lightgray;
  width: 51%;
  margin-left: 20px;
  border-radius: 5% 0 0 5%;
}

.userInfo {
  margin-top: 10px;
}

.bookingSection {
  width: 50%;
  background-color: darkgray;
  border-radius: 5% 0 0 5%;
  margin-left: 50%; /* Adjust margin to position the bookingSection */
  z-index: 2;
}
