p Kia ora #{name}

p UASC is stoked to confirm your booking for an unforgettable stay at our lodge between:

p <strong>#{startDate} (check in) to #{endDate} (check out)</strong>

p Here's some important info for both new and old members:

p <strong>Getting to our lodge</strong> - Our lodge is nestled on the Whakapapa side of Mount Ruapehu - a 4 hour drive from Auckland. The drive up Bruce Road to the lodge can be a bit sketchy, please drive to the conditions and check Bruce Road's status on the <a href="https://www.whakapapa.com/report">whakapapa website</a> before departing.

p <strong>Parking</strong> - Parking is available on the same road as the lodge. Parking can be hard to find from mid morning to afternoon. You can repark closer to the lodge later in the evening.

p <strong>Getting into our lodge</strong> - The door code is <strong>C 3 4 5 X Y</strong>. Turn the handle anticlockwise.

p <strong>The Lodge</strong> - If this is your first time, welcome to your new home. The bottom floor houses the kitchen, lounge, The Pit, drying room, wood store, The Express Chair, and tuning room. Upstairs you'll find two bunk rooms and bathrooms, feel free to find a spare bunk and set yourself up. Our lodge custodian, Roland, will be on hand to look after the lodge and answer any questions you might have.

p <strong>Food</strong> - Dinner is provided assuming you arrive before 4pm on the day of your booking. If you plan to arrive later, please contact the custodian no later than a day before arriving.

p <strong>Expectations</strong> - To keep our lodge in top shape, we require all guests to pitch in with chores. When you see Roland, be proactive and ask what needs doing. Please make sure to leave the lodge cleaner than you found it <3

p By staying at our lodge you are agreeing to our policy and behavior rules, which you can find in detail on our website.

p If at any point during your stay you feel unsafe, uncomfortable or want to report something please use our form below which is monitored by our wellbeing officer.
<a href="https://docs.google.com/forms/d/e/1FAIpQLScigFHK3LhcuF5cfT3_gIFUb9m5P6F7i4ZFbV40NYpVTlFpbQ/viewform">https://docs.google.com/forms/d/e/1FAIpQLScigFHK3LhcuF5cfT3_gIFUb9m5P6F7i4ZFbV40NYpVTlFpbQ/viewform</a>

p Cheers,
p Xavier Fenton
p University of Auckland Snowsports Club
p Instagram: uasc_nz | Email: <a href="mailto:bookings@uasc.co.nz">bookings@uasc.co.nz</a> | Website: <a href="https://uasc.co.nz">uasc.co.nz</a> | Custodian Email: <a href="mailto:custodian@uasc.co.nz">custodian@uasc.co.nz</a>