p Kia ora #{name}

p UASC is stoked to confirm your booking for an unforgettable stay at your lodge between the nights of:

p <strong>#{startDate} to #{endDate}</strong>

p Here's some info for both new and old members:

p <strong>Getting to our lodge</strong> - Our lodge is nestled on the whakapapa side of Ruapehu, it is a 4 hour drive from Auckland. The drive up Bruce road to the lodge can be snow joke, please drive to the conditions and check Bruce roads status on the whakapapa website before departing. 

p <strong>Parking</strong> - Parking is available on the same road as the lodge. Parking can be hard to find from mid morning to afternoon. You can repark closer to the lodge later in the evening. 

p <strong>Getting into our lodge</strong> - The door code is <strong>1627Y</strong> then turn the handle anticlockwise. 

p <strong>The Lodge</strong> - If this is your first time, welcome to your new home. The bottom floor houses the kitchen, lounge, conversation pit, drying and tuning room. Upstairs you’ll find two bunk rooms and bathrooms, feel free to find a spare bunk and set yourself up. Our lodge custodian, Issac, will be on hand to look after the lodge and answer any questions you might have.

p <strong>Food</strong> - Dinner is provided 

p <strong>Expectations</strong> - To keep our lodge in top shape, we ask all guests to pitch in with chores. When you see Issac, be proactive and ask what needs doing. Please make sure to leave the lodge as clean (or cleaner!) than you found it.

p By staying at our lodge you are agreeing to our policy and behavior rules, which you can find in detail on our website. 

p If at any point during your stay you feel unsafe, uncomfortable or want to report something please use our form below which is monitored by our wellbeing officer. 
<a href="https://forms.gle/UTBB4TsMCTgyaatYA">https://forms.gle/UTBB4TsMCTgyaatYA</a>

p Cheers, 
p Dominic Chanwai
p University of Auckland Snowsports Club
p Instagram: uasc_nz | Email: <a href="mailto:bookings@uasc.co.nz">bookings@uasc.co.nz</a> | Website: <a href="https://uasc.co.nz">uasc.co.nz</a>

