name: "Lint"
on:
  pull_request:
  push:
    branches:
      - master

jobs:
  Lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Install volta
      - uses: volta-cli/action@v4

      - name: Checkout repository
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac

      - name: Install NPM dependencies
        run: sudo yarn

      - name: Run ESLint on ALL files
        run: yarn lint-all
