name: Cleanup Cloudflare Pages Deployments

on:
  # every midnight
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  cleanup:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Enable Corepack
        shell: bash
        run: corepack enable

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: latest
          run_install: false

      - name: Cache node_modules
        uses: actions/cache@v4
        id: cache-node-modules
        with:
          path: |
            server/node_modules
            client/node_modules
            node_modules
          key: node-modules-pnpm-${{ hashFiles('pnpm-lock.yaml') }}

      - name: Run cleanup script
        run: pnpm --prefix=server prune-cloudflare-deployments
        env:
          CF_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          CF_PROJECT_NAME: uasc
          CF_AUTH_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
